* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    color: #2a150d;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

article {
    margin: 5vh auto;
    display: block;
    width: 90%;
    background-color: #fffcad;
    border: 1px solid #000000;
    padding: 12px;
    box-shadow: 5px 5px 5px #000000;
}

figure {
    margin: 12px auto;
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 6px;
    margin-bottom: 6px;
}

img {
    position: relativa;
    width: 60%;
}

h1 {
    text-align: center;
    font-size: 2.8em;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-indent: 1.2em;
    margin-bottom: 6px;
}

p::first-letter {
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
}